html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
  }
  
  h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
  }

  header{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
  }

  nav ul{
    display: flex;
    list-style-type: none;
    gap:40px;

  }

  nav li{
    padding: 0 10px;
   
  }

  ul{
    list-style: none;
  }

  main{
    
    justify-content: center;
    margin: 50px 100px;
    display: grid;
    grid-template-rows: auto 1fr; 
    }

  
  img{
    width: 19.35px;
    height: 19.35px;
  }

  li.bold{
    font-weight: 700;
  }
  .bottom {
    position: absolute;
    bottom: 20px;
    right: 80px;
}

h1.green{
    color:#1D6154;
    font-weight: 700;
    align-items: center;
}

li.connecting{
    font-family: Syne;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    place-content: center;
    background-color: #1D6154;
    width: 179px;
    height: 36px;
    border-radius: 30px;
    color: white;
    text-align-last: center;

}

ul.board{
  display: grid;
  margin-top: 30px;
}

.board li {
  font-size: 11px; /* Choisissez la taille de police qui vous convient */
  
}

body {
  margin: 0 auto; /* Centre le contenu horizontalement */
  max-width: 1440px; /* Définit une largeur maximale */
  width: 100%; /* Pour que la largeur soit de 100% sur les écrans plus petits */
  padding: 0 20px; /* Ajoute des marges intérieures pour un peu d'espace sur les côtés */
}

.board .email {
  background-color: white; /* Définit un fond blanc */
  padding-bottom: 5px; /* Ajoute un peu d'espace en dessous du texte */
}
